<!-- vh3 -->
<section class="bg-[#EFF7F2]">
    <div class="p-10 md:p-[100px] w-full lg:container lg:mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 px-5 gap-24">
        <div class="flex flex-col">
          <div class="flex items-center">
            <hr class="w-20 border-2 border-[#1D2130] me-4 font-bold" />
            <p class="text-[#1D2130] text-base font-bold uppercase">
              know about us
            </p>
          </div>
          <div class="flex flex-col p-0 lg:ps-24">
            <h2
              class="text-[#1D2130] text-5xl leading-tight text-wrap font-bold my-10"
            >
              We care for earth, care for the coming birth
            </h2>
            <p class="text-[#525560] mb-7">
              Lorem ipsum dolor sit amet, consectetur adipi scing elit.
              Suspendisse varius enim in eros elementum tristique.
            </p>
            <div class="flex flex-col border-l border-[#E5E5E5] mb-4">
              <div class="flex flex-col">
                <div class="flex">
                  <div
                    class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="20px"
                      viewBox="0 -960 960 960"
                      width="20px"
                      fill="#DDFFDF"
                    >
                      <path
                        d="M312-96v-144H48l153-240h-57l240-384 96 154 96-154 240 384h-57l153 240H648v144H504v-144h-48v144H312Zm362-216h106L628-552h58L576-728l-54 86 102 162h-57l107 168Zm-495 0h410L436-552h58L384-728 274-552h58L179-312Zm0 0h140-60 227-60 163-410Zm495 0H558h90-123 177-28 106-106Zm-170 72h144-144Zm232 0Z"
                      />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl mb-2">
                    Tree Plantation
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p>
              </div>
              <div class="flex flex-col">
                <div class="flex mt-4 mb-2">
                  <div
                    class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="20px"
                      viewBox="0 -960 960 960"
                      width="20px"
                      fill="#DDFFDF"
                    >
                      <path
                        d="M96-264v-72q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53.5-24t75.5-24q57 0 74.5 24t52.5 24v72q-57 0-74.5-24T737-312q-35 0-53 24t-75 24q-57 0-75.5-24T480-312q-35 0-53 24t-75 24q-57 0-75-24t-53-24q-35 0-53 24t-75 24Zm0-156v-72q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24v72q-57 0-75-24t-53-24q-35 0-53 24t-75 24q-57 0-75-24t-53-24q-35 0-53 24t-75 24q-57 0-75-24t-53-24q-35 0-53 24t-75 24Zm0-156v-72q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24v72q-57 0-75-24t-53-24q-35 0-53 24t-75 24q-57 0-75-24t-53-24q-35 0-53 24t-75 24q-57 0-75-24t-53-24q-35 0-53 24t-75 24Z"
                      />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl">
                    Protect Land and Water
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p>
              </div>
              <div class="flex flex-col">
                <div class="flex mt-4 mb-2">
                  <div
                    class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="20px"
                      viewBox="0 -960 960 960"
                      width="20px"
                      fill="#DDFFDF"
                    >
                      <path
                        d="M192.23-480Q152-480 124-507.77q-28-27.78-28-68Q96-616 123.77-644q27.78-28 68-28Q232-672 260-644.23q28 27.78 28 68Q288-536 260.23-508q-27.78 28-68 28Zm168-144Q320-624 292-651.77q-28-27.78-28-68Q264-760 291.77-788q27.78-28 68-28Q400-816 428-788.23q28 27.78 28 68Q456-680 428.23-652q-27.78 28-68 28Zm240 0Q560-624 532-651.77q-28-27.78-28-68Q504-760 531.77-788q27.78-28 68-28Q640-816 668-788.23q28 27.78 28 68Q696-680 668.23-652q-27.78 28-68 28Zm168 144Q728-480 700-507.77q-28-27.78-28-68Q672-616 699.77-644q27.78-28 68-28Q808-672 836-644.23q28 27.78 28 68Q864-536 836.23-508q-27.78 28-68 28ZM285-95q-38 0-65-31t-27-76q0-47 32-81t63-69q26-30 46-61t43-62q20-26 45.5-39.5T480-528q32 0 58 13t45 39q23 31 43 61.5t46 61.5q30 36 63 69.5t33 81.82Q768-158 740.5-127 713-96 674-96q-50 0-97-12t-97-12q-50 0-97.5 12.5T285-95Z"
                      />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl">
                    Animal Safety
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p>
              </div>
              <div class="flex flex-col">
                <div class="flex mt-4 mb-2">
                  <div
                    class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="20px"
                      viewBox="0 -960 960 960"
                      width="20px"
                      fill="#DDFFDF"
                    >
                      <path
                        d="M144-144v-528h144v-144h360v288h168v384H528v-144h-96v144H144Zm72-72h72v-72h-72v72Zm0-156h72v-72h-72v72Zm0-156h72v-72h-72v72Zm144 156h72v-72h-72v72Zm0-156h72v-72h-72v72Zm0-144h72v-72h-72v72Zm144 300h72v-72h-72v72Zm0-156h72v-72h-72v72Zm0-144h72v-72h-72v72Zm168 456h72v-72h-72v72Zm0-156h72v-72h-72v72Z"
                      />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl">
                    Build Healthy Cities
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="animal-human-image bg-cover bg-center rounded-md w-full min-h-[300px] lg:h-full"
        ></div>
      </div>
    </div>
  </section>

<!-- vh4 -->
  <section>
    <div class="p-10 md:p-[100px] w-full lg:container lg:mx-auto">
      <div class="flex items-center">
        <hr class="w-20 border-2 border-[#1D2130] me-4 font-bold" />
        <p class="text-[#1D2130] text-base font-bold uppercase">
          know about us
        </p>
      </div>
      <div class="flex flex-col p-0 lg:ps-24">
        <h2
          class="text-[#1D2130] w-full lg:w-[50%] text-5xl leading-tight text-wrap font-bold my-10"
        >
          We are Creating sustainable society, for everyone and forever.
        </h2>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <div class="relative w-full h-full md:w-[411px] md:h-[421px]">
          <div class="absolute inset-0 bg-black opacity-30 rounded-md"></div>
          <div
            class="planting-image w-full h-full bg-cover bg-center bg-no-repeat rounded-md"
          ></div>
          <div
            class="absolute inset-0 flex flex-col justify-between px-8 py-16"
          >
            <h3 class="text-white font-bold text-3xl">
              Mission 40K: Tree plantation
            </h3>
            <p class="text-white">
              ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
              ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
              tristique posuere.
            </p>
            <button
              class="bg-white text-black font-medium rounded-md py-3 w-[130px]"
            >
              <a href="#">See more</a>
            </button>
          </div>
        </div>
        <div class="relative w-[411px] h-[421px]">
          <div class="absolute inset-0 bg-black opacity-50 rounded-md"></div>
          <div
            class="cleaning-image w-full h-full bg-cover bg-center bg-no-repeat rounded-md"
          ></div>
          <div
            class="absolute inset-0 flex flex-col justify-between px-8 py-16"
          >
            <h3 class="text-white font-bold text-3xl">
              Weekly cleanliness program in city
            </h3>
            <p class="text-white">
              ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
              ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
              tristique posuere.
            </p>
            <button
              class="bg-white text-black font-medium rounded-md py-3 w-[130px]"
            >
              <a href="#">See more</a>
            </button>
          </div>
        </div>
        <div class="relative w-[411px] h-[421px]">
          <div class="absolute inset-0 bg-black opacity-40 rounded-md"></div>
          <div
            class="wildlife-image w-full h-full bg-cover bg-center bg-no-repeat rounded-md"
          ></div>
          <div
            class="absolute inset-0 flex flex-col justify-between px-8 py-16"
          >
            <h3 class="text-white font-bold text-3xl">
              Wildlife safety program 2021
            </h3>
            <p class="text-white">
              ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
              ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
              tristique posuere.
            </p>
            <button
              class="bg-white text-black font-medium rounded-md py-3 w-[130px]"
            >
              <a href="#">See more</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>