.animal-human-image{
    background-image: url("../../../assets/Images/animal-human.jpg");
}

.planting-image{
    background-image: url("../../../assets/Images/planting.jpeg");
}

.cleaning-image{
    background-image: url("../../../assets/Images/cleaning.jpg");
}

.wildlife-image{
    background-image: url("../../../assets/Images/wildlife.jpg");
}